@page
@model WebAppWithAppInsights.Pages.ErrorPageModel
@{
}

<div class="text-center">
    <h1 class="display-4">Error Page</h1>
    <p>Opening this page writes an error log entry</p>
    <h2>@Model.InstrumentationKey</h2>
</div>
