@page
@{
}

<div>
    @Title
</div>
<div>
    @Publisher
</div>


@functions {
    private string? Title {get; set; }
    private string? Publisher { get; set; }
    public void OnGet(string title, string publisher)
    {
        Title = title;
        Publisher = publisher;
    }
}
