@page

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Title
        </dd>
        <dt class="col-sm-2">
            Publisher
        </dt>
        <dd class="col-sm-10">
            @Publisher
        </dd>
    </dl>
</div>

@functions {
    private string? Title { get; set; }
    private string? Publisher { get; set; }
    public void OnGet(string? title, string? publisher) =>
        (Title, Publisher) = (title, publisher);

}
