<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.ComponentsSample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
 <li class="nav-item px-3">
            <NavLink class="nav-link" href="counterwithservice">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter with service
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="usetimer">
                <span class="oi oi-timer" aria-hidden="true"></span> Event Callback
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="timer">
                <span class="oi oi-timer" aria-hidden="true"></span> Timer - State Change
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="binding">
                <span class="oi oi-command" aria-hidden="true"></span> Binding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="template">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="editor">
                <span class="oi oi-list" aria-hidden="true"></span> Editor
            </NavLink>
        </li>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
