@using EventViews.Models
@model IEnumerable<Event>

<h3>The dates</h3>
<table>
    @foreach (var ev in Model)
    {
        <tr>
            <td>@ev.Date.ToString("d")</td>
            <td>@ev.Text</td>
        </tr>
    }
</table>